/build/
/build[.-]*/
/out
/cmake/
/cmake[.-]*/
/coverage/
/.vs/
/.vscode/
/fuzz/luau.pb.*
/crash-*
/default.prof*
/fuzz-*
/luau
/luau-tests
/luau-analyze
/luau-bytecode
/luau-compile
/slua
/slua-tests
/slua-analyze
/slua-bytecode
/slua-compile
__pycache__
/stage
.cache
.clangd
*.orig
*.rej
/fuzz/corpus/json/*
!/fuzz/corpus/json/*.json
*.code-workspace
